/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');


#categories-container a:focus {
    color: blue;
    background-color: #EEEFFF;
    border-radius: 10px;
}

#sec-sort select {
    width: 9rem;
}

.author-img {
    width: 50px;
    height: 50px;
}

.card-info {
    align-items: center;
}

.sec-btn-details {
    cursor: pointer;
}

footer p {
    font-family: 'Playfair Display', serif;
}

/* Media Query */
@media screen and (max-width: 600px) {
    .thumb-img > img {
        width: 100%;
    }
    .card-info {
        flex-direction: column;
        align-items: start;
    }
}