/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600;700&display=swap');


#categories-container a:focus {
    color: blue;
    background-color: #EEEFFF;
    border-radius: 10px;
}

.author-img {
    width: 50px;
    height: 50px;
}

.card-info i {
    cursor: pointer;
}

footer p {
    font-family: 'Playfair Display', serif;
}